footer {
    background-color: #0f1120;
    height: 3.5rem;
    display: flex;
    color: aliceblue;
    font-size: 9px;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}
.logoFooter {
    background: url(./assets/logo.png) center/cover no-repeat;
    height: 3.5rem;
    width: 110px;
    border-left: 1px solid #cb6ce6;
}